body {
  background-image:
    linear-gradient(
      to right, 
      #89858B, #134762
    );
}
a {
  text-decoration: none;
  color: aqua;

}

a.grow :hover {
  transition: all .2s ease-in-out; 
}


