p {
text-align: center;
text-decoration: none;
}
h1 {
  text-align: center;
  color: black;
}

h2 {
  text-shadow: 0 0 5px #000000, 0 0 20px #000000, 0 0 30px #333333, 0 0 40px #333333,
  0 0 50px #666666, 0 0 60px #666666, 0 0 70px #999999, 0 0 80px #999999;
}

div {
text-align: center;
}
h4 {
  margin-left: 60px;
  margin-right: 60px;
  text-align: justify;

}


img {
  height: 400px;
  width: 800px;
  background-size: cover;
  margin: 20px;
  box-shadow: 0 0 15px white;
}